# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

.idea/
chances-party.iml
/ideaHaskellLib

/.env

# Built source
/build

# Session store db
sessions.db

# Application debug db
party.db

deploy_key

# Haskell Stack
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
