# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

.idea

.env

# Node
node_modules/
npm-debug.log

# Code coverage
.nyc_output/

# Intermediate build files
js/

# Code coverage
coverage/

deploy_key
