body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#avatar {
  margin-right: 1em;
  float: left;
}

.details > p {
  margin: 0;
}

ul {
  display: inline-block;
  min-width: 35%;
}

a.link-back {
  font-size: 0.75rem;
  float: right;
}
